<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Register for cuisine</title>


    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>


    <script th:src="@{https://code.jquery.com/jquery-3.3.1.js}"
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>

    <script src="webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>


    <script>
        function validateForm() {
            var e = document.getElementById("cuisine");
            var value = e.options[e.selectedIndex].value;
            if (value == '') {
                var error = document.getElementById("errormesg");
                error.textContent = e.getAttribute('data-validation-message');
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
<p></p>
<div class="container">
    <div class="container">
        <div>
            <a href="#" th:href="@{/}">Home</a>&nbsp;&nbsp;&nbsp;|
            <a href="#" th:href="@{/list}">Show Cuisines</a>&nbsp;&nbsp;&nbsp;|
            <a href="#" th:href="@{/createCuisines}">Create Random Cuisines</a>&nbsp;&nbsp;&nbsp;|
            <a href="#" th:href="@{/popular/10}">Show 10 most Popular</a>&nbsp;&nbsp;&nbsp;|
            <a href="#" th:href="@{/deleteAll}">Delete All</a>
        </div>
    </div>
</div>

<p></p>
<div class="container">
    <h3>Create Random Cuisines</h3>
    <form action="#" th:action="@{/createCuisines}" th:object="${cuisine}"
          method="post" onsubmit="return validateForm();">
        <span id="errormesg" style="color: red"></span> <span
            style="font-weight: bold" th:text="${successMessage}"></span>
        <table>
            <tr>
                <td><label th:text="#{msg.cuisineName}+': '"></label></td>
                <td><select id="cuisine" th:field="*{name}"
                            th:data-validation-message="#{msg.cuisineName.mandatory}">
                    <option th:value="''" th:text="'Select'"></option>
                    <option th:value="'Thai cuisine'" th:text="'Thai'"></option>
                    <option th:value="'French'" th:text="'French'"></option>
                </select></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>