<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Cuisine Registry form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script
            src="http://cdn.jsdelivr.net/webjars/jquery/3.3.1-1/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}">
    </script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.js"
            th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.js}"></script>
</head>
<body>
<p></p>
<div class="container">
    <div>
        <a href="#" th:href="@{/}">Home</a> |
        <a href="#" th:href="@{/list}">Show Cuisines</a> |
        <a href="#" th:href="@{/createCuisines}">Create Random Cuisines</a> |
        <a href="#" th:href="@{/popular/10}">Show 10 most Popular</a> |
        <a href="#" th:href="@{/deleteAll}">Delete All</a>
    </div>
</div>

<p></p>

<div class="container">
    <h2>Cuisine Details</h2>
    <div>
        <form class="form-horizontal" th:object="${cuisineForm}" th:action="@{/cuisine}" method="post">

            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                <p th:text="#{form.hasErrors}">Error Message</p>
            </div>

            <input type="hidden" th:field="*{cuisineId}"/>
            <div class="form-group" th:class="${#fields.hasErrors('name')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Cuisine Name:</label>
                <div class="col-sm-10">
                    <input type="text" : class="form-control" th:field="*{name}" th:errorclass="has-error"/>
                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('name')}" th:text="${err}"/>
                       </ul>
                    </span>
                </div>
            </div>

            <div class="row">

                <button class="btn">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>