<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Cuisine Batch Creation form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script
            src="http://cdn.jsdelivr.net/webjars/jquery/3.3.1-1/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}">
    </script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.js"
            th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.js}"></script>
</head>
<body>
<p></p>
<div class="container">
    <div>
        <a href="#" th:href="@{/}">Home</a> |
        <a href="#" th:href="@{/list}">Show Cuisines</a> |
        <a href="#" th:href="@{/createCuisines}">Create Random Cuisines</a> |
        <a href="#" th:href="@{/popular/10}">Show 10 most Popular</a> |
        <a href="#" th:href="@{/deleteAll}">Delete All</a>
    </div>
</div>
<p></p>
<div class="container">

    <h2>Choose how many Cuisine objects should be created</h2>
    <div>
        <form class="form-horizontal" th:object="${createCuisinesForm}" th:action="@{/createCuisines}" method="post">

            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                <p th:text="#{form.hasErrors}">Error Message</p>
            </div>


            <div class="form-group"
                 th:class="${#fields.hasErrors('howManyCuisines')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">How many Cuisines should be created:</label>
                <div class="col-sm-6">
                    <input type="number" min="0" max="500" class="form-control" th:field="*{howManyCuisines}"
                           th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('howManyCuisines')}" th:text="${err}"/>
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group"
                 th:class="${#fields.hasErrors('howManyCustomers')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">How many Customers(maximum) should be registerd to each
                    Cuisine:</label>
                <div class="col-sm-6">
                    <input type="number" min="0" max="50" class="form-control" th:field="*{howManyCustomers}"
                           th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('howManyCustomers')}" th:text="${err}"/>
                       </ul>
                    </span>
                </div>
            </div>

            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>