<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>

    <title>Cuisines Registry</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script
            src="http://cdn.jsdelivr.net/webjars/jquery/3.3.1-1/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}">
    </script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.js"
            th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.js}"></script>
</head>
<body>
<p></p>
<div class="container">
    <div>
        <a href="#" th:href="@{/}">Home</a> |
        <a href="#" th:href="@{/list}">Show Cuisines</a> |
        <a href="#" th:href="@{/createCuisines}">Create Random Cuisines</a> |
        <a href="#" th:href="@{/popular/10}">Show 10 most Popular</a> |
        <a href="#" th:href="@{/deleteAll}">Delete All</a>
    </div>
</div>
<p></p>
<div class="container">
    <div th:if="${not #lists.isEmpty(cuisines)}">
        <h2>Cuisine List</h2>
        <table class="table table-striped">
            <tr>
                <th>CuisineId</th>
                <th>name</th>
                <th>List</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="cuisine : ${cuisines}">
                <td th:text="${cuisine.cuisineId}"></td>
                <td th:text="${cuisine.name}"></td>
                <td><a th:href="${'/showCuisine/' + cuisine.cuisineId}">View</a></td>
                <td><a th:href="${'/edit/' + cuisine.cuisineId}">Edit</a></td>
                <td><a th:href="${'/delete/' + cuisine.cuisineId}">Delete</a></td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a href="/new">New Cuisine</a>
        </div>
    </div>
</div>

</body>
</html>