<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>

    <title>Show Cuisine</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script
            src="http://cdn.jsdelivr.net/webjars/jquery/3.3.1-1/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}">
    </script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.js"
            th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.js}"></script>
</head>
<body>
<p></p>
<div class="container">
    <div>
        <a href="#" th:href="@{/}">Home</a> |
        <a href="#" th:href="@{/list}">Show Cuisines</a> |
        <a href="#" th:href="@{/createCuisines}">Create Random Cuisines</a> |
        <a href="#" th:href="@{/popular/10}">Show 10 most Popular</a> |
        <a href="#" th:href="@{/deleteAll}">Delete All</a>
    </div>
</div>
<p></p>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Cuisine </h2>
        </div>
    </div>

    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Cuisine Id</th>
                <th>Name</th>
                <th>Nr.of Cust.</th>
                <th>Food Types</th>
                <th>Dish Types</th>
                <th>Food Prices</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr>

                <td th:text="${cuisine.cuisineId}"></td>
                <td th:text="${cuisine.name}"></td>
                <td th:text="${numberOfCustomers}"></td>
                <td th:text="${cuisine.foodTypes}"></td>
                <td th:text="${cuisine.dishTypes}"></td>
                <td th:text="${cuisine.dishPrices}"></td>


                <td><a class="btn btn-warning" th:href="${'/edit/' + cuisine.cuisineId}">Edit</a></td>
                <td><a class="btn btn-warning" th:href="${'/delete/' + cuisine.cuisineId}">Delete</a></td>
            </tr>
            </tbody>
        </table>
        <div>

            <div class="row">
                <div class="col-sm-8">
                    </form>
                </div>
            </div>
        </div>

</body>
</html>